[Unit]
Description=Icculus's Marquee LCD
After=local-fs.target

[Service]
Type=dbus
ExecStart=/home/pi/arcade1up-lcd-marquee/marquee-displaydaemon --fadems 1000 --startimage /home/pi/arcade1up-lcd-marquee/default.jpg
TimeoutStopSec=3
KillSignal=SIGINT
BusName=org.icculus.Arcade1UpMarquee

[Install]
WantedBy=multi-user.target

